#loading {
    color: #fff;
    opacity: 0.85;
    position: fixed;
    top: 12px;
    width: 100%;
    z-index: 23000;
}

.loader {
  font-size: 10px;
  margin: 0 auto;
  text-indent: -9999em;
  border-radius: 50%;
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loading{
  width: 30px;
  height: 30px;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
}

.spinning {
  width: 15px;
  height: 15px;
  z-index: 100;
  right: 10px;
  background: $brand-primary;
  display: inline-block;
  background: -moz-linear-gradient(left, $brand-primary 10%, rgba(62, 62, 62, 0) 42%);
  background: -webkit-linear-gradient(left, $brand-primary 10%, rgba(62, 62, 62, 0) 42%);
  background: -o-linear-gradient(left, $brand-primary 10%, rgba(62, 62, 62, 0) 42%);
  background: -ms-linear-gradient(left, $brand-primary 10%, rgba(62, 62, 62, 0) 42%);
  background: linear-gradient(to right, $brand-primary 10%, rgba(62, 62, 62, 0) 42%);
}

.loader:before {
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loading:before{
    background: #fff;
}

.spinning:before{
    background: $brand-primary;
}

.loader:after {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:after{
    background: $brand-primary;
}

.spinning:after{
    background: #fff;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
